/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-bg);
}
.awesomplete .input-with-feedback {
    border: 1px solid var(--border-color);
}
.form-control {
    border: 1px solid var(--border-color);
}
.search-bar .awesomplete input {
    background-color: var(--bg-color)
}
.modal-backdrop{
    background-color: #ae0029 !important;
}
.widget .widget-head .widget-title {
    font-size: var(--text-base);
}
.comment-box .comment-input-header, .form-dashboard-section .section-head, .form-section .section-head, .head-title {
    font-size: var(--text-base);
    font-weight: 600;
}
.comment-box .comment-input-container .ql-editor {
    border: 1px solid var(--border-color);
}
.duration-picker .duration-input {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}
.control-label {
    font-weight: 500;
}

.list-sidebar .sidebar-action {
color: #ff003c;
}

input[type=checkbox]:checked:before {
background: #ff003c;
}

:root {
    --gray-800: #1b1b4f !important;
    --yellow-500: #ff003c !important;
    --yellow-500: #ff003c !important;
}

[data-theme="dark"] {
    --primary-color : #ff003c;
    --bg-color: #232366;
    --disabled-control-bg: var(--gray-900);
    --border-color: #111132;
    --margin-lg : 15px;
    --text-bold: 600;
    --scroll-bg: #33338b;
    --scroll-color: #4a4ab1;
	--kanban-column-bg: #1f1f56;
	--kanban-card-bg: #1b1b4b;
	--kanban-new-card-bg: #1f1f56;
	--kanban-new-card-hover-bg: #1b1b4b;
	--fg-color: #1b1b4b;
	--navbar-bg: #1b1b4b;
	--fg-hover-color: #1f1f56;
	--card-bg: #1b1b4b;
	--control-bg: #1f1f56;
	--control-bg-on-gray: #1b1b4b;
	--awesomplete-hover-bg: #1f1f56;
	--modal-bg: #1f1f56;
	--bg-light-gray: #1f1f56;
	--sidebar-select-color: #1b1b4b;
	--scrollbar-track-color: #1f1f56;
	--scrollbar-track-color: #1f1f56;
	--skeleton-bg: #1b1b4b;
	--yellow-avatar-bg: #ff003c;
	--bg-yellow: #ff003c;

}

[data-theme="light"] {
    --primary-color : #ff003c;
    --bg-color: #f2f5fa;
    --text-bold: 600;
    --control-bg : #fff;
    --control-bg-on-gray: #d4dcea;
    --disabled-control-bg: #f2f5fa;
    --heading-color: #333;
    --border-color:#e3e8f1;
    --avatar-frame-bg: #dde2ea;
    --margin-lg: 15px;
    --sidebar-select-color: #d4dcea;
    --awesomplete-hover-bg: #d4dcea;
    --scroll-bg: #eef1f5;
    --scroll-color: #d9dfe6;
    --yellow-avatar-bg: #ff003c;
	--bg-yellow: #ff003c;
}
